<section id="blogspot" class="blogspot-section">
    <div class="section-title">
      <h1>Blogspot</h1>
    </div>
    <div class="blog-posts">
      <article class="blog-post">
        <h3>How Innovation is Driving Business Transformation</h3>
        <p>Discover how businesses are leveraging technology to drive innovation...</p>
        <a href="#">Read More</a>
      </article>
      <article class="blog-post">
        <h3>The Future of Leadership in the Digital Age</h3>
        <p>Exploring the key attributes of modern leadership in a digital-first world...</p>
        <a href="#">Read More</a>
      </article>
      <article class="blog-post">
        <h3>Global Market Trends to Watch in 2025</h3>
        <p>Get a preview of the key market trends expected to shape the global economy...</p>
        <a href="#">Read More</a>
      </article>
    </div>
  </section>
  