<section class="leaders-container">
  <h1>Featured Leaders</h1>
  <div class="leaders-wrapper autoplay">
    <% leaders.forEach(function(leader) { %>
    <div class="leader">
      <div class="card">
        <% if (leader.imageBase64) { %>
          <img src="data:<%= leader.imageMimeType %>;base64,<%= leader.imageBase64 %>" class="leader-img" alt="Leader Image">
        <% } else { %>
          <img src="/path/to/default/image.png" class="leader-img" alt="Leader Image">
        <% } %>
        <div class="card-body">
          <p class="leader-text"><%= leader.title %><br><%= leader.tags %></p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</section>
